{% extends "base.html" %}
{% block title %}Datasource{% endblock %}
{% block content %}
<div class="main">
    <h1>Datenquelle - <img src="static/images/Kaggle_logo.png" alt="Kaggle Logo" width="90px" /></h1>
    <p>Die <a href="https://www.kaggle.com/datasnaek/youtube-new">Daten </a> für das Projekt stammen von Kaggle.
    Kaggle ist eine Online-Community, die sich an Datenwissenschaftler richtet. Auf der Plattform sind diverse Datensätze zu finden, die frei nutzbar sind.
    </p>

    <h2 id="about">Verwendete Technologien</h2>
    <p>Folgende Technologien wurden für dieses Projekt verwendet</p>
     <ul>
         <li><h3>MongoDB - <img src="static/images/MongoDB.jpg" alt="MongoDB Logo" width="120px" /></h3></li>
         <li><h3>Python - <img src="static/images/python.jpg" alt="python Logo" width="50px" /></h3></li>
         <li><h3>Flask - <img src="static/images/flask.png" alt="flask Logo" width="75px" /></h3></li>
         <li><h3>HTML, CSS, JavaScript - <img src="static/images/html.jpg" alt="html Logo" width="130px" /></h3></li>

</ul>






</div>
{% endblock %}