{% extends "base.html" %}
{% block title %}DBS Projekt{% endblock %}
{% block content %}
<div class="main">
    <h1>Erfolgsfaktoren bei Youtube</h1>
    <p>Du bist aktiver Youtuber und möchstest deinen Account mit der Konkurrenz vergleichen, deine Erfolgschancen abschätzen oder deine Kennzahlen einordnen? Dann hilft dir diese Seite bestimmt weiter. Mit einem Klick kannst du unterschiedlichste Abfragen durchführen und analysieren, wie gut du mit deinem Account auf Youtube unterwegs bist! Dabei kannst du sowohl allgemeine als auch kategoriespezische Informationen einholen.
    </p>
  <img src="static/images/youtube.svg" alt="Youtube Logo" width="100px" />
    <img src="static/images/chart.svg" alt="chart" width="95px" />
    <img src="static/images/database.svg" alt="database" width="85px" />
    <h2 id="about">Über uns</h2>
    Wir sind 4 Studierende von der Hochschule Luzern und haben dieses Projekt im Rahmen der Vorlesung Datenbanksysteme gemacht.
</div>

{% endblock %}